<header>
    <div class="container-fluid">
        <div class="row align-items-center ct-header header_width justify-content-between">
          <div class="logo logo_small">
            <div class="d-flex logo_small align-items-center">
              <div><a href="https://www.laposte.fr/" target="_blank"><img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632927433/lp_regions/logo_c0i7fy_1_smxfle.svg" width="77" height="29" alt="La Poste"/></a></div>
              <div width="50" style="margin-left: 10px;margin-right: 10px;"><img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632927433/lp_regions/Capture_d_e%CC%81cran_2021-09-28_a%CC%80_15.57.52_ya0wh8_oxupau.png" width="20" height="29" alt="La Poste"/></div>
              <div><a href="https://www.laposte.fr/challengedesregions" target="_blank"><img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632927433/lp_regions/les-collections-participatives_yxf79s_cqiphi.jpg" width="77" height="29" alt="La Poste"/></a></div>
            </div>
          </div>
          <div><a href="https://www.laposte.fr/" target="_blank" class="btn-back"><span class="txt">Retour sur le site <span class="hide_small">La Poste</span></span><span class="fas fa-arrow-circle-right d-inline-flex" style="padding-left:5px; font-size:12px; padding-top:3px;"></span></a></div>
        </div>
    </div>
</header>
<section>
    <div class="container-fluid"><div class="d-flex flex-column ">
        <h2 class="titre-jeux">DÉCOUVREZ LA COLLECTION <span class="background">RÉGION</span></h2>
    <div class="full_container">
      <p style="text-align:center;">Visitez la France autrement avec les timbres de la Collection Région</p>
      <div class="timbre_grid">
        <div class="team">
          <h2>ÎLE-DE-<br class="hide2">FRANCE</h2>

          <img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632926298/lp_regions/ile_de_france_jnbs89_htcpbg.png" alt="italie">
          <button class="btn_imprimer desktopOnly"><a href="#" target="_blank">J'imprime</a></button>
          <button class="btn_imprimer mobileOnly"><a href="#" target="_blank">J'imprime</a></button>
        </div>
        <div class="team">
          <h2>NORMANDIE<br class="hide2"><br class="hide2"></h2>
          <img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632926298/lp_regions/normandie_dmmguu_tce3wp.png" alt="angleterre">
          <button class="btn_imprimer desktopOnly"><a href="#" target="_blank">J'imprime</a></button>
          <button class="btn_imprimer mobileOnly"><a href="#" target="_blank">J'imprime</a></button>
        </div>
        <div class="team">
          <h2>NOUVELLE-<br class="hide2">AQUITAINE</h2>
          <img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632926298/lp_regions/nouvelle_aquitaine_he5uon_dhh42x.png" alt="angleterre">
          <button class="btn_imprimer desktopOnly"><a href="#" target="_blank">J'imprime</a></button>
          <button class="btn_imprimer mobileOnly"><a href="#" target="_blank">J'imprime</a></button>
        </div>
        <div class="team">
          <h2>HAUTS-DE-<br class="hide2">FRANCE</h2>
          <img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632926298/lp_regions/hauts_de_france_kfhsiz_owusf6.png" alt="italie">
          <button class="btn_imprimer desktopOnly"><a href="#" target="_blank">J'imprime</a></button>
          <button class="btn_imprimer mobileOnly"><a href="#" target="_blank">J'imprime</a></button>
        </div>
        <div class="team">
          <h2>CENTRE-VAL<br class="hide2"> DE LOIRE</h2>
          <img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632926297/lp_regions/centre_val_de_loire_rhfwvl_srwqjp.png" alt="angleterre">
          <button class="btn_imprimer desktopOnly"><a href="#" target="_blank">J'imprime</a></button>
          <button class="btn_imprimer mobileOnly"><a href="#" target="_blank">J'imprime</a></button>
        </div>
        <div class="team">
          <h2>PAYS DE LA <br class="hide2">LOIRE</h2>
          <img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632926299/lp_regions/pays_de_la_loire_jvahrh_zt78ci.png" alt="angleterre">
          <button class="btn_imprimer desktopOnly"><a href="#" target="_blank">J'imprime</a></button>
          <button class="btn_imprimer mobileOnly"><a href="#" target="_blank">J'imprime</a></button>
        </div>

        <div class="team">
          <h2>AUVERGNE</h2>
          <img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632926297/lp_regions/auvergne_xhsg5q_kvipfu.png" alt="italie">
          <button class="btn_imprimer desktopOnly"><a href="#" target="_blank">J'imprime</a></button>
          <button class="btn_imprimer mobileOnly"><a href="#" target="_blank">J'imprime</a></button>
        </div>
        <div class="team">
          <h2>OCCITANIE</h2>
          <img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632926299/lp_regions/occitanie_of5qk7_aejua0.png" alt="angleterre">
          <button class="btn_imprimer desktopOnly"><a href="#" target="_blank">J'imprime</a></button>
          <button class="btn_imprimer mobileOnly"><a href="#" target="_blank">J'imprime</a></button>
        </div>
        <div class="team">
          <h2>GRAND-EST</h2>
          <img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632926298/lp_regions/grand_est_tfronn_py5bqj.png" alt="angleterre">
          <button class="btn_imprimer desktopOnly"><a href="#" target="_blank">J'imprime</a></button>
          <button class="btn_imprimer mobileOnly"><a href="#" target="_blank">J'imprime</a></button>
        </div>
        <div class="team">
          <h2>PACA</h2>
          <img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632926299/lp_regions/paca_ov2zzl_j9omk5.png" alt="italie">
          <button class="btn_imprimer desktopOnly"><a href="#" target="_blank">J'imprime</a></button>
          <button class="btn_imprimer mobileOnly"><a href="#" target="_blank">J'imprime</a></button>
        </div>
        <div class="team">
          <h2>BOURGOGNE</h2>
          <img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632926298/lp_regions/bourgogne_wn92nf_l6068g.png" alt="angleterre">
          <button class="btn_imprimer desktopOnly"><a href="#" target="_blank">J'imprime</a></button>
          <button class="btn_imprimer mobileOnly"><a href="#" target="_blank">J'imprime</a></button>
        </div>
        <div class="team">
          <h2>BRETAGNE</h2>
          <img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632926297/lp_regions/bretagne_jost05_rhksz0.png" alt="angleterre">
          <button class="btn_imprimer desktopOnly"><a href="#" target="_blank">J'imprime</a></button>
          <button class="btn_imprimer mobileOnly"><a href="#" target="_blank">J'imprime</a></button>
        </div>
        <div class="team">
          <h2>CORSE</h2>
          <img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632926298/lp_regions/corse_ihfirz_b7a7if.png" alt="italie">
          <button class="btn_imprimer desktopOnly"><a href="#" target="_blank">J'imprime</a></button>
          <button class="btn_imprimer mobileOnly"><a href="#" target="_blank">J'imprime</a></button>
        </div>
        <div class="team">
          <h2>DROM-COM</h2>
          <img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632926298/lp_regions/drom_com_zsq2jb_rxmred.png" alt="angleterre">
          <button class="btn_imprimer desktopOnly"><a href="#" target="_blank">J'imprime</a></button>
          <button class="btn_imprimer mobileOnly"><a href="#" target="_blank">J'imprime</a></button>
        </div>
        <div class="team">
          <img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632926299/lp_regions/printer_bmrfjy_u10qjr.png" alt="imprimante" id="imprimante">
        </div>
      </div>

    </div>
</section>
<footer>
    <div class="foot-1">
        <div class="container-600">
            <div class="bloc-reseau d-flex align-items-center justify-content-center">
                <div class="item"><a href="https://www.facebook.com/laposte" target="_blank"><img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632927433/lp_regions/facebook_dlpd5g_q6jfpf.svg" class="icon_perso d-inline-flex" alt=""></a></div>
                <div class="item"><a href="https://twitter.com/lisalaposte" target="_blank"><img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632927433/lp_regions/twitter_tn7zws_zdwwiw.svg" class="icon_perso d-inline-flex" alt=""></a></div>
                <div class="item"><a href="https://www.youtube.com/user/laposte" target="_blank"><img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632927433/lp_regions/youtube_u15qmm_xdmzfo.svg" class="icon_perso d-inline-flex" alt=""></a></div>
                <div class="item"><a href="https://www.instagram.com/laposte/" target="_blank"><img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632927433/lp_regions/instagram_bfgfbl_gyyizy.svg" class="icon_insta d-inline-flex" alt=""></a></div>
            </div>
        </div>
    </div>
    <div class="foot-2">
        <div class="container-600">
            <h3>Nos applications mobiles</h3>
            <div class="bloc-mobile d-flex align-items-center flex-wrap">
                <div class="item"><a href="https://www.laposte.fr/produits/presentation/application-mobile-la-poste?at_medium=custom3&at_campaign=Regions_France&at_custom1=2021&at_custom2=site_evenementiel&at_custom3=transverse&at_custom4=app" target="_blank"><span class="img"><img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632927779/lp_regions/app-laposte_pqlnxk_qv4exk.png" width="44" height="44" alt="Application La Poste"/></span><span class="txt">Application La Poste</span></a></div>
                <div class="item"><a href="https://www.laposte.fr/digiposte/tous-mes-documents-partout-et-tout-le-temps?at_medium=custom3&at_campaign=Regions_France&at_custom1=2021&at_custom2=site_evenementiel&at_custom3=transverse&at_custom4=digiposte" target="_blank"><span class="img"><img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632927779/lp_regions/digiposte_c5llbx_yomrlx.png" width="30" height="30" alt="Application La Poste"/></span><span class="txt">Digiposte</span></a></div>
                <div class="item"><a href="https://www.laposte.fr/produits/presentation/youpix?at_medium=custom3&at_campaign=Regions_France&at_custom1=2021&at_custom2=site_evenementiel&at_custom3=transverse&at_custom4=youpix" target="_blank"><span class="img"><img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632927779/lp_regions/youpix_u5evax_lyts8j.png" width="30" height="30" alt="Application La Poste"/></span><span class="txt">Youpix</span></a></div>
                <div class="item"><a href="https://www.laposte.fr/produits/presentation/application-telephonie-la-poste-mobile?at_medium=custom3&at_campaign=Regions_France&at_custom1=2021&at_custom2=site_evenementiel&at_custom3=transverse&at_custom4=t%C3%A9l%C3%A9phonie" target="_blank"><span class="img"><img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632927779/lp_regions/poste_mobile_mhbeum_brri2v.png" width="45" height="45" alt="Application La Poste"/></span><span class="txt">La Poste Mobile</span></a></div>
                <div class="item"><a href="https://www.laposte.fr/veiller-sur-vos-proches/ardoiz-la-tablette-pour-les-seniors?at_medium=custom3&at_campaign=Regions_France&at_custom1=2021&at_custom2=site_evenementiel&at_custom3=transverse&at_custom4=ardoiz" target="_blank"><span class="img"><img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632927779/lp_regions/ardoiz_ig2p3i_rhsf3a.png" width="60" height="23" alt="Application La Poste"/></span><span class="txt">Tablette Ardoiz</span></a></div>
                <div class="item"><a href="https://www.laposte.fr/produits/presentation/application-quoty?at_medium=custom3&at_campaign=Regions_France&at_custom1=2021&at_custom2=site_evenementiel&at_custom3=transverse&at_custom4=quoty" target="_blank"><span class="img"><img src="https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632927779/lp_regions/quoty_ibgcyc_wbfwuw.png" width="67" height="21" alt="Application La Poste"/></span><span class="txt">Application Quoty</span></a></div>
            </div>
            <div class="ml mt-3">
                <div class="text-center mb-2">
                    <a class="" data-toggle="collapse" href="#mlcontent" role="button" aria-expanded="false"><b><br>Mentions légales</b></a>
                </div>
                <div class="collapse" id="mlcontent">
                    <br><h2 class="f_12"><strong>Site édité par La Poste</strong></h2><br>
                      <p>SA au capital de 5 364 851 364 euros<br>
                      RCS Paris 356 000 000<br>
                      Siège social : 9 RUE DU COLONEL PIERRE AVIA – 75015 PARIS <br>
                      N° TVA Intracommunautaire : FR 39356000000<br>
                      Président : Philippe Wahl <br><br></p>
                      <h2 class="f_12"><strong>Directrice de la publication</strong></h2><br>
                      <p>Nathalie Collin<br><br></p>
                      <h2 class="f_12"><strong>Hébergement</strong></h2><br>
                      <p>Salesforce<br>
                      Siège : 3 avenue Octave Gréard - 75007, Paris<br>
                      Tel : +33 1 72 10 94 00<br>
                      legal@salesforce.com<br>
                      RCS Paris B 483 993 226<br></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>var exports = {};</script>
<script src="https://cdn.jsdelivr.net/npm/cookie-popup-gdpr/dist/popup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js'></script>
