
<header>
    <div class="container-fluid">
        <div class="row align-items-center ct-header header_width justify-content-between">
          <div class="logo">
            <div class="d-flex align-items-center">
              <div><a href="https://www.laposte.fr/?at_medium=custom3&at_campaign=Regions_France&at_custom1=2021&at_custom2=site_evenementiel&at_custom3=transverse&at_custom4=home" target="_blank"><img src="https://res.cloudinary.com/dunk/image/upload/v1623067849/lp_euro/logo_c0i7fy.svg" width="77" height="29" alt="La Poste"/></a></div>
            </div>
          </div>
          <div class="lematch">lematchdestimbres.com</div>
          <div class=""><a href="https://www.laposte.fr/?at_medium=custom3&at_campaign=Regions_France&at_custom1=2021&at_custom2=site_evenementiel&at_custom3=transverse&at_custom4=home" target="_blank" class="btn-back"><span class="txt">Retour sur le site La Poste</span><span class="fas fa-arrow-circle-right d-inline-flex" style="padding-left:5px; font-size:12px; padding-top:3px;"></span></a></div>
        </div>
    </div>
</header>
<section>
    <div class="container-fluid h-100"><div class="d-flex flex-column h-100">
        <h2 class="titre-jeux"><img src="https://res.cloudinary.com/dunk/image/upload/v1623139399/lp_euro/Objet_dynamique_vectoriel_um9ihh.png" width="170px" height="70" alt="Le challenge des régions"/></h2>
    <div class="full_container">
        <img src="https://res.cloudinary.com/dunk/image/upload/v1623162681/lp_euro/11_juin_2021_gfrmmf.png" alt="top" class="top_baner">
      <div class="match_grid">
        <div class="team">
          <h2>FRANCE</h2>
          <img src="https://res.cloudinary.com/dunk/image/upload/v1623160025/lp_euro/timbre_1_fx0fdm.png" alt="">
          <button class="btn_imprimer">IMPRIMER CE TIMBRE</button>
        </div>
        <div class="team">
          <h2>ITALIE</h2>
          <img src="https://res.cloudinary.com/dunk/image/upload/v1623159329/lp_euro/timbre_2_ivvjxy.png" alt="">
          <button class="btn_imprimer">IMPRIMER CE TIMBRE</button>
        </div>
        <div class="team">
          <h2>ALLEMAGNE</h2>
          <img src="https://res.cloudinary.com/dunk/image/upload/v1623159993/lp_euro/timbre_3_vgoblx.png" alt="">
          <button class="btn_imprimer">IMPRIMER CE TIMBRE</button>
        </div>
        <div class="team">
          <h2>ESPAGNE</h2>
          <img src="https://res.cloudinary.com/dunk/image/upload/v1623159993/lp_euro/timbre_4_mliadq.png" alt="">
          <button class="btn_imprimer">IMPRIMER CE TIMBRE</button>
        </div>
      </div>
    </div>
</section>

<footer>
    <div class="foot-1">
        <div class="container-600">
            <div class="bloc-reseau d-flex align-items-center justify-content-center">
                <div class="item"><a href="https://www.facebook.com/laposte" target="_blank"><img src="https://res.cloudinary.com/dunk/image/upload/v1623164560/lp_euro/Facebook_kwlz8l.png" class="icon_perso d-inline-flex" alt=""></a></div>
                <div class="item"><a href="https://twitter.com/lisalaposte" target="_blank"><img src="https://res.cloudinary.com/dunk/image/upload/v1623071533/lp_euro/Twitter_jxqpah.png" class="icon_perso d-inline-flex" alt=""></a></div>
                <div class="item"><a href="https://www.youtube.com/user/laposte" target="_blank"><img src="https://res.cloudinary.com/dunk/image/upload/v1623071533/lp_euro/Youtube_w9hykx.png" class="icon_perso d-inline-flex" alt=""></a></div>
                <div class="item"><a href="https://www.instagram.com/laposte/" target="_blank"><img src="https://res.cloudinary.com/dunk/image/upload/v1623071533/lp_euro/Instagram_o8r4fd.png" class="icon_perso d-inline-flex" alt=""></a></div>
            </div>
        </div>
    </div>
    <div class="foot-2">
        <div class="container-600">
            <h3>Nos applications mobiles</h3>
            <div class="bloc-mobile d-flex align-items-center flex-wrap">
                <div class="item"><a href="https://www.laposte.fr/produits/presentation/application-mobile-la-poste?at_medium=custom3&at_campaign=Regions_France&at_custom1=2021&at_custom2=site_evenementiel&at_custom3=transverse&at_custom4=app" target="_blank"><span class="img"><img src="https://res.cloudinary.com/dunk/image/upload/v1623068131/lp_euro/app-laposte_pqlnxk.png" width="44" height="44" alt="Application La Poste"/></span><span class="txt">Application La Poste</span></a></div>
                <div class="item"><a href="https://www.laposte.fr/digiposte/tous-mes-documents-partout-et-tout-le-temps?at_medium=custom3&at_campaign=Regions_France&at_custom1=2021&at_custom2=site_evenementiel&at_custom3=transverse&at_custom4=digiposte" target="_blank"><span class="img"><img src="https://res.cloudinary.com/dunk/image/upload/v1623068131/lp_euro/digiposte_c5llbx.png" width="30" height="30" alt="Application La Poste"/></span><span class="txt">Digiposte</span></a></div>
                <div class="item"><a href="https://www.laposte.fr/produits/presentation/youpix?at_medium=custom3&at_campaign=Regions_France&at_custom1=2021&at_custom2=site_evenementiel&at_custom3=transverse&at_custom4=youpix" target="_blank"><span class="img"><img src="https://res.cloudinary.com/dunk/image/upload/v1623068131/lp_euro/youpix_u5evax.png" width="30" height="30" alt="Application La Poste"/></span><span class="txt">Youpix</span></a></div>
                <div class="item"><a href="https://www.laposte.fr/produits/presentation/application-telephonie-la-poste-mobile?at_medium=custom3&at_campaign=Regions_France&at_custom1=2021&at_custom2=site_evenementiel&at_custom3=transverse&at_custom4=t%C3%A9l%C3%A9phonie" target="_blank"><span class="img"><img src="https://res.cloudinary.com/dunk/image/upload/v1623068131/lp_euro/poste_mobile_mhbeum.png" width="45" height="45" alt="Application La Poste"/></span><span class="txt">La Poste Mobile</span></a></div>
                <div class="item"><a href="https://www.laposte.fr/veiller-sur-vos-proches/ardoiz-la-tablette-pour-les-seniors?at_medium=custom3&at_campaign=Regions_France&at_custom1=2021&at_custom2=site_evenementiel&at_custom3=transverse&at_custom4=ardoiz" target="_blank"><span class="img"><img src="https://res.cloudinary.com/dunk/image/upload/v1623068132/lp_euro/ardoiz_ig2p3i.png" width="60" height="23" alt="Application La Poste"/></span><span class="txt">Tablette Ardoiz</span></a></div>
                <div class="item"><a href="https://www.laposte.fr/produits/presentation/application-quoty?at_medium=custom3&at_campaign=Regions_France&at_custom1=2021&at_custom2=site_evenementiel&at_custom3=transverse&at_custom4=quoty" target="_blank"><span class="img"><img src="https://res.cloudinary.com/dunk/image/upload/v1623068132/lp_euro/quoty_ibgcyc.png" width="67" height="21" alt="Application La Poste"/></span><span class="txt">Application Quoty</span></a></div>
            </div>
            <div class="ml mt-3">
                <div class="text-center mb-2">
                    <a class="" data-toggle="collapse" href="#mlcontent" role="button" aria-expanded="false"><b>Mentions légales</b></a>
                </div>

                <div class="collapse" id="mlcontent">
                    <p class="text-center mb-2">CONDITIONS GÉNÉRALES D’UTILISATION « LE CHALLENGE DES RÉGIONS »</p>
                    <p>Le Challenge des Régions est un questionnaire en ligne disponible gratuitement édité par LA POSTE, société anonyme au capital de 5 364 851 364 Euros, immatriculée au Registre du Commerce et des Sociétés de Paris sous le numéro 356 000 000, dont le siège social est situé 9 rue du Colonel Pierre Avia 75757 Paris Cedex 15.<br><br>

                    Ce questionnaire a un objectif participatif permettant d’impliquer l’internaute dans la création d’une collection future de timbres en ligne afin d’orienter le brief créatif selon les attentes et les goûts du plus grand nombre.<br><br>

                    Cette opération a débuté le 19/04/21 et se terminera le 02/05/21 inclus, période correspondante à la phase de récolte de réponses au questionnaire pour les régions : Auvergne-Rhône-Alpes, Bretagne, Grand Est et Occitanie.<br><br>
                    L’opération se renouvellera :<br>
                    - du 12 au 25 juillet inclus - pour les régions PACA, Nouvelle-Aquitaine, Normandie et IDF.<br>
                    - du 13 au 26 septembre inclus - pour les régions Bourgogne, Centre-Val de Loire, Hauts-de-France et Pays de la Loire.<br><br>

                    La participation à ce questionnaire en ligne se fait via le site web https://votepourtaregion.laposte.fr hébergé par OVH Cloud - https://www.ovh.com/fr/, gratuitement et sans obligation d'achat dans les conditions définies par les présentes.<br><br>

                    Aucun lot ni récompense ne sera adressé dans le cadre de cette participation. <br><br>

                    Pour participer, il suffit donc de se rendre sur le site web https://votepourtaregion.laposte.fr et appuyer sur le bouton « Je participe » en page d’accueil, sans avoir à rentrer aucune information personnelle.<br><br>

                    Le questionnaire consiste ensuite en une série de 7 questions pour lesquelles il convient de choisir la région pour laquelle l’utilisateur souhaite participer, l’utilisateur ne peut participer que pour une seule Région. Puis il choisit parmi 3 réponses ; une seule réponse par question est possible. Il est obligatoire de répondre à une question pour passer à la question suivante. Les réponses au questionnaire ne sont prises en compte que si l’utilisateur a répondu à l’intégralité des questions. Aussi, l’utilisateur ne peut répondre qu’une seule fois au questionnaire afin que l’analyse des résultats ne soit pas faussée.<br><br>

                    Afin de s’assurer que l’utilisateur ne réponde qu’une seule fois et que seuls les questionnaires complets soient analysés, notre système utilise des cookies et récolte l’adresse IP de l’utilisateur.<br><br>

                    Des cookies sont utilisés pour gérer les formulaires incomplets (par exemple si l’utilisateur répond à seulement 3 questions puis abandonne le questionnaire). En conséquence, il faut supprimer le cookie de session ou attendre 5 minutes pour que le système reconnaisse l’utilisateur ayant complété le questionnaire de manière incomplète comme un nouvel utilisateur. Dans le cas contraire, les nouvelles réponses soumises sont considérées comme des modifications des réponses précédemment fournies et non pas un nouveau questionnaire d’un nouvel utilisateur. Aussi, même si l’utilisateur a terminé son questionnaire et souhaite recommencer, les cookies lui permettent de recommencer le questionnaire du début, dans le délai de 5 minutes, sans le considérer comme un nouvel utilisateur. En d’autres termes, si l’utilisateur recommence le questionnaire avant les 5 minutes de délai, le système met à jour la participation existante au lieu d'en créer une nouvelle.<br><br>

                    Le système enregistre également l'adresse IP des utilisateurs qui répondent au questionnaire afin de filtrer a posteriori les résultats du formulaire pour éviter qu’un utilisateur ne participe plusieurs fois au questionnaire et fausse ainsi l’analyse des résultats ; ce qui nuirait à l’objectif final du questionnaire.<br><br>

                    Aucune autre donnée n’est récoltée ou stockée par le système.<br><br>

                    Les adresses IP et identifiants de session sont uniquement stockés à des fins de contrôle du questionnaire et d’identification des abus. Ils sont conservés jusqu'à la fin de chaque session de votes. <br><br>

                    L’adresse IP ainsi recueillie est enregistrée dans un fichier informatisé par DUNK - 74 rue Paradis, 13006 MARSEILLE - 04 91 61 00 19 - n° de SIRET 522 774 74400034, coresponsable du traitement des données avec La Poste.<br>
                    Les adresses IP ne seront pas communiquées à un tiers ni même à LA POSTE.<br><br>

                    L’utilisateur peut demander l’effacement de son adresse IP. Dans ce cas, il est possible que ses réponses au questionnaire ne soient pas prises en compte dans l’analyse si la récolte n’a pas eu lieu entretemps.<br><br>

                    Conformément à la réglementation applicable en matière de protection des données personnelles, l’utilisateur dispose d’un droit d’accès, de rectification, d’opposition, de limitation du traitement, de portabilité pour demander le transfert de vos données lorsque cela est possible et d’effacement. Ces droits peuvent être exercés à l’adresse suivante Pour exercer ce droit ou pour toute question sur le traitement des données dans ce dispositif, l’utilisateur peut contacter DUNK - 74 rue Paradis, 13006 MARSEILLE - 04 91 61 00 19 - n° de SIRET 522 774 74400034. Dans le cadre de la politique de protection des données personnelles de La Poste, vous pouvez également contacter Madame la Déléguée à la Protection des Données, CP C703, 9 rue du Colonel Pierre Avia 75015 PARIS.<br>
                    En cas de difficulté dans la gestion de vos données personnelles, vous pouvez introduire une réclamation auprès de la CNIL.<br><br>

                    Tous les éléments du présent questionnaire sont protégés et sont la propriété exclusive de LA POSTE. Toute reproduction ou représentation même partielle des éléments protégés appartenant à LA POSTE par quelque procédé que ce soit est interdite et illicite. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur.<br><br>

                    La responsabilité de LA POSTE ne saurait être encourue si, pour un cas de force majeure ou indépendant de sa volonté, le questionnaire devait être modifié, écourté ou annulé.<br><br>

                    En conséquence, LA POSTE ne saurait, en aucune circonstance, être tenue responsable sans que cette liste soit limitative :<br>
                    - de tout dysfonctionnement du réseau Internet empêchant le bon déroulement/fonctionnement du questionnaire ;<br>
                    - de défaillance de tout matériel de réception ou des lignes de communication ;<br>
                    - de perte de tout courrier électronique et, plus généralement, de perte de toute donnée ;<br>
                    - des problèmes d'acheminement ;<br>
                    - du dysfonctionnement de tout logiciel ;<br>
                    - des conséquences de tout virus, bogue informatique, anomalie, défaillance technique ;<br>
                    - de tout dommage causé à l'appareil d'un utilisateur ;<br>
                    - de toute défaillance technique, matérielle et logicielle de quelque nature, ayant empêché ou limité la possibilité de participer au questionnaire ou ayant endommagé le système d'un utilisateur.<br><br>

                    Il est précisé que LA POSTE ne peut être tenue responsable de tout dommage direct ou indirect issu d’une interruption, d’un dysfonctionnement quel qu’il soit et ce pour quelque raison que ce soit, ou encore de tout dommage direct ou indirect qui résulterait, d’une façon quelconque, d'une connexion au questionnaire. Il appartient à tout utilisateur de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels stockés sur son appareil contre toute atteinte. <br><br>

                    La connexion de toute personne au site web https://votepourtaregion.laposte.fr, la participation au questionnaire se fait sous son entière responsabilité et à ses frais pour les coûts de connexion internet, aucun remboursement ne pourra être demandé.<br><br>

                    Les présentes sont soumises et interprétées conformément au droit français.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>var exports = {};</script>
<script src="https://cdn.jsdelivr.net/npm/cookie-popup-gdpr/dist/popup.min.js"></script>
<script>let config = {
  heading: "Cookies & confidentialité",
  savePref: false, //Deactivated for JSFiddle
  savePrefDefault: false,
  informationText: "Les cookies nous permettent de vous offrir des fonctionnalités utiles et de mesurer les performances afin d'améliorer votre expérience. En cliquant sur « Tous », vous acceptez l'utilisation de tous les cookies.",
  tableHeads: ["Name", "Description"],
  checkboxes: [{
    title: "Fonctionnels",
    required: true,
    checked: true,
    name: "necessary",
    // description: "A short description.",
    services: [
      // ["Service name.", "Service description."]
    ],
  }, {
    title: "Marketing",
    required: false,
    checked: false,
    name: "marketing",
    description: "Nous utilisions des cookies marketing",
    services: [
      // ["Marketing service name.", "Service description."]
    ],
  }, ],
  buttons: [{
      title: "Seulement nécessaires",
      onclick: () => {
        check("necessary");
        uncheck("marketing");
      },
    },
    {
      title: "Tous",
      green: true,
      onclick: () => {
        check("necessary", "marketing");
      },
    },
  ]
}

window.onload = function() {
  new CookiePopup(config);
}</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js'></script>
