@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

/* structure */
html { font-size: 100%; height:100%; }
body { height:100%; font-family: 'Montserrat', sans-serif; color: #3c3c3c; background:#4a4646;margin-left: 0; margin-right: 0; padding:0; line-height:1.4; font-size:16px;}
button { font-family: 'Montserrat', sans-serif; }

/* titre */
h1, h2, h3, h4, h5, h6 { font-weight:bold; margin:0; padding:0; vertical-align: baseline; outline: none; font-family: 'Montserrat', sans-serif; }

/* link */
a {color:#3c3c3c;}
a:hover, a:hover img, a:focus img, a:active img, button:hover { opacity: 0.9; color:inherit;}

/* paragraphes */
p { margin: 0; }
