#global {max-width:1920px; margin:0 auto; overflow: hidden;}
.container {max-width: 1260px;}
.container-600 {max-width: 600px; margin:0 auto;}


/*header*/
header {background:#fff;}
header .container-fluid {padding:0 10px;}
header > div > div {height:50px;}
.ct-header {padding:0 15px;}
.logo_top {display:none;}
body.go .logo_top {display:block;}
.logo_top span {font-size:20px; font-weight:500; padding:0 5px;}

/*footer*/
footer h3 {font-size:13px; color:#fff; font-weight: 600; margin-bottom:15px;}
.foot-1 {background:#353534; padding:25px 0; text-align: center;}
.foot-2 {background:#4a4646; padding:25px 0;}

.bloc-reseau .item {width:22%; text-align: center; height:45px; border-right:1px solid #6e6b6b;}
.bloc-reseau .item:last-child {border-right:none;}
.bloc-reseau .item a {display:block; color:#fff; font-size:28px;}
.bloc-reseau .item a:hover {text-decoration: none;}

.bloc-mobile .item {width:16.66666%;}
.bloc-mobile .item a {display:block; text-align: center; color:#fff;}
.bloc-mobile .item a span.txt {display:block; font-size:8px; font-weight: 600; padding-top:12px;}
.bloc-mobile .item a span.img {height:35px; display:flex; -ms-flex-align: center !important;
    align-items: center !important; border-left:1px solid #6e6b6b;}
.bloc-mobile .item:last-child a span.img {border-right:1px solid #6e6b6b;}
.bloc-mobile .item a span.img img {margin: 0 auto;}

.ml {font-size:12px;}
.ml a {color:#fff;}
#mlcontent {color:#fff; font-size: 10px;}

/*titre*/
h1 {font-size:13px;}

.titre-jeux {
  font-family: "font-family: agenda, sans-serif";
  margin-top: 40px;
  color: #fcf9d8;
  font-size: 40px;
  letter-spacing: 0.5rem;
  font-family: "Agenda";
  padding:10px;
  text-align: center;
}

/*HOME*/
section {position:relative; height:calc(110rem); min-height:690px; background:url(https://res.cloudinary.com/dpqjkhkhz/image/upload/v1632927963/lp_regions/FOND_mapxkg_bzacnp.jpg) center top no-repeat; background-size: cover;}
// section {position:relative; height:calc(160vh - 40px); min-height:690px; background:url(https://res.cloudinary.com/dunk/image/upload/v1623138630/lp_euro/background_test1_ltf74f.jpg) center top no-repeat; background-size: contain;}. /// CALC VH

/*bouton*/
.btn-back {display: inline-block; background:#ffc928; border-radius:6px; padding:5px 10px; font-size:11px; font-weight: 600; transition:all 350ms ease;color:#3c3c3c;}
.btn-back:hover {text-decoration: none; background:#3c3c3c; color:#ffc928;}
