section {
  height: 100vh;
  font-family: "PFBeauSansPro-Bold";
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.desktopOnly > a {
  color: white;
}

.mobileOnly > a {
  color: white;
}

.desktopOnly:hover > a {
  background-color: white;
  color: #04d0a9;
}

.mobileOnly:hover > a {
  background-color: white;
  color: #04d0a9;
}

.icon_perso {
  width: 30px;
}

.icon_insta {
  width: 26px;
}

.header_width > div {
  width: 180px !important;
}

.lematch {
  font-weight: bold;
  font-size: 14px;
}

.row {
  margin-right: 0 !important;
}

.mobileOnly {
  display: none ;
}

.desktopOnly {
  display: block;
}

/// MATCH GRID
.full_container{
  position: relative;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%
}

.top_baner{
  width: 625px;
  position:absolute;
  top: -40px;
  left: -12px;
  margin: auto;
}

.match_grid {
  display: grid;
  height: 530px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  border: 2px solid white;
  background-color:rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.team {
  text-align: center;
}

.team > img {
  width: 220px;
  margin-bottom: 20px
}

.high_country {
  height: 56px;
}

.team > h2 {

  color: white;
  font-size: 26px
}

.hide {
  display: none;
}

.hide2 {
  display: none;
}

.hide3 {
  display: none;
}

.hide_btn {
  display: none;
}

.vs_1 {
  position: absolute;
  width: 50px;
  height: 40px;
  top: 37vh;
  left: 275px;
}

.vs_2 {
  position: absolute;
  width: 50px;
  height: 40px;
  // top: 45px;
  left: 275px;
}

.btn_imprimer {
  margin: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 50px;
  color: white;
  background-color: #04d0a9;
  border: none;
  font-size: 14px;
}

.f_12 {
  font-size: 12px;
}

.gdpr-popup-btn {
  background-color: black
}

.gdpr-popup-checkbox-heading-container {
  display: none;
}

.btn_imprimer:hover {
  opacity: 100 !important;
  color: #04d0a9 !important;
  background-color: white !important;
  cursor: pointer !important
}

body > footer > div.foot-2 > div > div.ml.mt-3 > div.text-center.mb-2 > a:hover {
  color: white;
}
