.icon_perso {
  width: 30px;
// height: 2.5vh
}

.icon_insta {
  width: 26px;
}

section {
  height: 100vh;
  font-family: "PFBeauSansPro-Bold";
}

.header_width > div {
  width: 180px !important;
}

.lematch {
  font-weight: bold;
  font-size: 14px;
}

/// GDPR POPUP
.gdpr-popup-expand-info {
  display: none;
}

.gdpr-popup-save-pref-label {
  display: none !important
}

.gdpr-popup-position-top-right {
  width: 320px !important;
  right:6px;
  top: 28em !important;
}

.gdpr-popup-blurred-background {
  display: none;
}

.gdpr-popup-heading {
  font-size:1rem;
}

.gdpr-popup-text{
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.gdpr-popup-btn {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
}
///


/// MATCH GRID
.full_container{
  position: relative;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%
}

.top_baner{
  width: 625px;
  position:absolute;
  top: -40px;
  left: -12px;
  margin: auto;
}

.match_grid {
  // position: relative;
  display: grid;
  // width: 38vw;
  height: 530px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  border: 2px solid white;
  background-color:rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.team {
  text-align: center;
}

.team > img {
  width: 220px;
}

.team > h2 {
  color: white;
  // margin-bottom: 20px;
  font-size: 26px
}

.hide {
  display: none;
}

.hide2 {
  display: none;
}

.vs_1 {
  position: absolute;
  width: 50px;
  height: 40px;
  top: 280px;
  left: 275px;
}

.vs_2 {
  position: absolute;
  width: 50px;
  height: 40px;
  top: 35px;
  left: 275px;
}

.btn_imprimer {
  margin-top: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 50px;
  color: white;
  background-color: #04d0a9;
  border: none;
  font-size: 14px;
}

.btn_imprimer:hover {
  opacity: 100;
  color: #04d0a9;
  background-color: white;
  cursor: pointer
}

.btn_historique {
  width: 170px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  color: white;
  background-color: red;
  border: none;
  font-size: 12px;
  position: absolute;
  right: 16px;
  top: 8px;
}

.btn_historique:hover {
  color: red;
  background-color: white;
  cursor: pointer;
  opacity: 100%;
}

body > footer > div.foot-2 > div > div.ml.mt-3 > div.text-center.mb-2 > a:hover {
  color: white;
}
