@media screen and (max-width: 640px) {
  .full_container {
    width: 90% !important;
  }

  .top_baner {
    width: 104% !important;
    top: -5.5vw !important
  }

  .vs_1 {
    left: 46% !important;
  }

  .vs_2 {
    left: 46% !important;
  }

  .team > img {
    margin-top: 20px;
  }
}
