@media screen and (min-width: 1660px) {
  .full_container {
    width: 900px !important
  }

  .team > img {
    width: 360px !important
  }

  .match_grid {
    height: 75vh !important
  }

  .vs_2 {
    top: 50px !important;
    left: 425px !important;
  }

  .vs_1 {
    top: 373px !important;
    left: 425px !important;
  }

  .match_width {
    width: 160px !important;
    height: 80px !important;
  }

  .hide2 {
    display: block !important;
    width: 926px !important;
    top: -64px !important;
  }

  .d_n {
    display: none !important;
  }
}


@media screen and (max-width: 640px) {
  .full_container {
    width: 90% !important;
  }

  .top_baner {
    width: 104% !important;
    top: -5.5vw !important
  }

  .vs_1 {
    left: 46% !important;
    width: 43px !important;
    height: 32px !important;
  }

  .vs_2 {
    left: 46% !important;
    width: 43px !important;
    height: 32px !important;
    top: 28px !important;
  }

  .team > img {
    margin-top: 20px;
  }

  .logo_small {
    margin-right: -20% !important
  }

  .team > img {
    width: 180px !important
  }

  .d_n2 {
    display: none !important;
  }

  .hide3 {
    display: block !important;
  }

  .d_btn {
    display: none !important;
  }

  .hide_btn {
    display: inline !important;
  }
}

@media screen and (max-width: 470px) {
  .vs_2 {
    width: 10vw !important;
    height: 7vw !important;
    top: 18px !important;
  }

  .vs_1 {
    width: 10vw !important;
    height: 7vw !important;
    top: 219px !important;
  }

  .team > img {
    width: 38vw !important
  }

  .btn_imprimer{
    font-size: 2.5vw !important;
  }

  .team > h2 {
    font-size : 18px !important
  }

  .match_grid {
    height: 428px !important
  }

  .hide {
    display: block !important;
    width: 89vw !important;
    top: -12vw !important;
  }

  .d_n {
    display: none !important;
  }

  .full_container{
    margin-top: 19% !important
  }
}
