@media screen and (min-width: 1660px) {
  .full_container {
    width: 900px !important;
  }

  .team > img {
    width: 360px !important;
  }

  .match_grid {
    height: 75vh !important;
  }

  // .vs_2 {
  //   top: 50px !important;
  //   left: 425px !important;
  // }

  // .vs_1 {
  //   top: 39vh !important;
  //   left: 425px !important;
  // }

  .match_width {
    width: 160px !important;
    height: 80px !important;
  }

  .hide2 {
    display: block !important;
    width: 926px !important;
    top: -64px !important;
  }

  .d_n {
    display: none !important;
  }
}

@media screen and (max-width: 835px) {
  // .mobileOnly {
  //   display: block !important;
  //   color: red !important;
  // }

  // .desktopOnly {
  //   display: none !important;
  // }

  .match_grid {
    grid-template-columns: 1fr 1fr !important;
  }

  .full_container {
    width: 100% !important
  }

  section {
    height: calc(160rem) !important;
  }

}

@media screen and (max-width: 640px) {
  .full_container {
    width: 90% !important;
  }

  // .top_baner {
  //   width: 104% !important;
  //   top: -5.5vw !important
  // }
  .titre-jeux {

  }

  .team > img {
    margin-top: 10px !important;
  }

  .logo_small {
    margin-right: -20% !important;
  }

  #imprimante {
    width: 120px !important;
  }


  .team > img {
    width: 180px !important
  }


  .d_n2 {
    display: none !important;
  }

  .hide3 {
    display: block !important;
  }

  .d_btn {
    display: none !important;
    z-index: -1000 !important;
  }

  // .team > h2 {
  //   font-size: 22px !important;
  // }

  .high_country {
    height: 36px !important;
  }
}

@media screen and (max-width: 510px) {
  .team > img {
    width: 38vw !important
  }

  .btn_imprimer{
    font-size: 2.5vw !important;
  }

  // .team > h2 {
  //   font-size : 18px !important;
  // }

  // .match_grid {
  //   height: 250px !important;
  // }

  .hide {
    display: block !important;
    width: 89vw !important;
    top: -12vw !important;
  }

  .d_n {
    display: none !important;
  }

  .high_country {
    height: 26px !important;
  }

  #imprimante {
    margin-left: 50% !important;
  }
}

@media screen and (max-width: 340px) {
  .hide_small {
    display: none !important;
  }

  .ct-header {
    padding: 0 !important;
  }

  body > header > div > div > div:nth-child(2) {
    width: 140px !important;
  }

  body > header > div > div > div.logo.logo_small > div > div {
    margin-left: 10px !important;
  }
}
